
.heading {
    text-align: center;
    border: 2px solid black;
    background-color: lightgray;
}

/*GRID do conteudo do ponto de venda*/
.grid-container { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: lightgray;
    padding: 10px;
}

.grid-container > div {   /*Todos os elementos div dentro do ...*/
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.lista-produtos {
    grid-row-start: 1;
    grid-row-end: 4;
}

.descricao-produto {
    grid-column-start: 2;
    grid-column-end: 4;
}

.inserir-item {
    grid-column-start: 2;
    grid-column-end: 4;
}

.finalizar-compra {
    grid-column-start: 2;
    grid-column-end: 4;
}
/*Fim do GRID do conteudo do ponto de venda*/

.lista-de-produtos {
    width: 500px;
    height: 500px;
}

/*Login*/

h1 {
    text-align: center;
}

.formLogin {
    text-align: center;
    background-color: lightgray;
    margin: auto;
    width: 300px;
    height: 130px;
    padding: 1em;
    border-radius: 2%;
}

.submitLogin {
    width: 12em;
}

fieldset {
    border: none;
}